 body {
	background-color: #f5f5f5;
}

#container {

	
}
/* Banner Section */
.banner {
	background-color: ;
}
.logo {
	z-index: 200;
	width: 10em;
	height: 10em;
	margin: auto;
    display: flex;
    align-items: center;
}
.title,
.smart {

}
.title {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
.smart {
	color: maroon;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-weight: 50;
	font-size: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
.signature {
	color: maroon;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 1em;
}
/* Enter Field & Button */
.enter-field {
	width: 20em;
	height: 2em;
	border: 1px solid maroon;
	background-color: maroon;
	color: white;
	font-weight: 900;
	border-radius: 2em;
	margin: auto;
	align-itmes: center;
}
.enter-item {
	width: 20em;
	height: 2em;
	border: 1px solid maroon;
	background-color: maroon;
	color: white;
	font-weight: 900;
	border-radius: 2em;
	margin: auto;
	align-itmes: center; 
	font-size: 0.7em;
}
.submit-button {
	width: 6em;
	height: 2em;
	border-radius: 1em;
	background: white;
	border: 1px solid white;
}
.enter-item,
.submit-button,
.emptyCart-button {
	outline: none;
}
.submit-button:hover {
	background: LightGray;
	border: LightGray;
}
/* Listed Items */
.enter-field {
	width: 20em;
	height: 2em;
	border: 1px solid maroon;
	background-color: maroon;
	color: white;
	font-weight: 900;
	border-radius: 2em;
	margin: auto;
	align-itmes: center;
}
.listed-items,
.inCart,
.enter-field,
.enter-item,
.submit-button,
.emptyCart-button  {
	font-family: 'Lato', sans-serif;
	text-align: center;
	list-style: none;
	padding: 0.3em;
	-webkit-font-smoothing: antialiased;
}
h3 {    
    font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: 2.3em;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-font-smoothing: antialiased;
}
li {
	width: 20em;
	height: 2em;
	border: 1px solid maroon;
	border-radius: 2em;
	margin: auto;
	margin-top: 0.6em;
	padding: 0.3em;
	text-align: center;
	align-itmes: center;
}
li:nth-child(odd) {
    background: white;
}
li:hover {
	background: LightGray;
	border: LightGray;
}
.unchecked-box,
.checked-box {
	float: left;
	color: maroon;
	min-width: 15px;
	min-height: 19px;
}
i.fa.fa-check-square-o {
	min-height: 19px; 
	min-width: 15px;
	z-index: 100;
}
.delete-circle {
	float: right;
	color: maroon;
}
 /* Footer */
.emptyCart-button {
	background: maroon;
	color: white;
	border-radius: 2em;
	border: 1px solid maroon;
	width: 8em;
	height: 2.8em;
	padding: 0.6em;
	margin: auto;
	display: block;
	align-items: center;
	text-decoration: underline;
}
.emptyCart-button:hover {
	background: LightGray;
	border: LightGray;
	color: maroon;
}  
/* Responsiveness */



